<div class="card text-center">
    <div class="card-body">
        <div class="alert alert-danger">
            <h1>Error!</h1>
            <p>{{description}}</p>
            {{> go-home}}
        </div>
    </div>
</div>