<div class="card text-center">
    <div class="card-body">
        <div class="deleted">
            <h1>{{addonName}} has been deleted</h1>
            {{> go-home}}
        </div>
    </div>
</div>